.site-logo {
  margin: 1.5rem 0;
  display: block;
  max-width: 300px;
  @include media-breakpoint-down(lg) {
    margin: 1rem auto;
  }

  img {
    max-width: 100%;
  }
}
.container-evenly {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

//topbar
.topbar.topbar--primary {
  padding-left: 2rem;
  padding-right: 2rem;
  & > .container > .row {
    margin-right: 0;
  }
}

ul.contact-info {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}
