.site-logo {
  margin: 1.5rem 0;
  display: block;
  max-width: 300px;
  @include media-breakpoint-down(lg) {
    max-width: 250px;
  }
  @include media-breakpoint-down(md) {
    max-width: 190px;
  }
  @include media-breakpoint-down(sm) {
    max-width: 350px;
    width: 85%;
    margin: 1rem auto;
  }

  img {
    max-width: 100%;
  }
}
.container-around {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.font-weight-bold {
  font-weight: 700;
}

.row {
  --bs-gutter-x: 0;
}

//topbar
.topbar.topbar--primary {
  position: relative;

  & > .container-around {
    max-width: 1450px;
    margin: 0 auto;
    background-color: #fff;
    padding-left: 4rem;
    padding-right: 4rem;
    @include media-breakpoint-down(lg) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @include media-breakpoint-down(sm) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  & .contact-info {
    .icon-box {
      color: $color-primary;
      padding: 14px;
      border-radius: 5px;
      border: 3px solid $color-primary;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 12px;
      @include media-breakpoint-down(md) {
        padding: 10px;
      }
      @media screen and (max-width: 340px) {
        border: none;
        padding: 0;
      }
      & > i {
        font-size: 20px;
        @include media-breakpoint-down(md) {
          font-size: 18px;
        }
      }
    }
    .item {
      display: flex;
    }
  }
}

ul.contact-info {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  margin: 0;
  padding-left: 0;
  @include media-breakpoint-down(md) {
    gap: 25px;
  }
  @include media-breakpoint-down(sm) {
    padding: 10px 0 20px;
  }
  & .contact-info__phone {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & a {
      text-decoration: none;
      color: $color-primary;
      @include media-breakpoint-down(md) {
        font-size: 14px;
      }
      &.font-weight-bold {
        color: #000;
      }
    }
  }
}

// frontpage banner

.banner {
  display: flex;
  margin-bottom: 3rem;
  height: calc(90vh - 168px);
  @include media-breakpoint-down(sm) {
    height: calc(90vh - 201px);
  }
  &__text {
    background-color: $color-primary-light;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 6rem;

    @include media-breakpoint-down(xl) {
      padding: 3rem;
    }
    @include media-breakpoint-down(md) {
      background-image: $bannerGradient-light, url("../images/banner.jpg");
      background-size: cover;
      width: 100%;
      background-position: 25% 30%;
    }
    @include media-breakpoint-down(sm) {
      padding: 1.5rem;
    }

    & a {
      text-decoration: none;
      color: inherit;
      font-weight: 700;
    }
  }
  &__photo {
    width: 50%;
    background-image: $bannerGradient-dark, url("../images/banner.jpg");
    background-size: cover;
    background-position: 25% 30%;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.footer {
  background-color: $color-primary;
  margin-top: 3rem;
  &__container {
    display: flex;
    padding: 2rem;
  }
  &__logo {
    width: 75vw;
    max-width: 300px;
    margin: 0 auto;
  }
  &__branding {
    background-color: $color-primary-dark;
    padding: 1rem;
    font-family: $font-primary;
    text-align: center;
    & a {
      text-decoration: none;
      color: #fff;
      @include media-breakpoint-down(sm) {
        font-size: 12px;
        letter-spacing: 0.4px;
      }
    }
  }
}