$color-gray: #444;
$dark-gray: #00000020;

$navbar-dark-color: hsl(0, 0%, 100%);
$color-primary: #2A4160;
$color-primary-dark: #1a283a;
$color-secondary: #778A9D;
$color-gradient-dark: hsla(206, 23%, 59%, 0.151);
$color-primary-light: #F1F3F5;
$color-gradient-light: #f1f3f5d3;

$bannerGradient-dark: linear-gradient(($color-gradient-dark), ($color-gradient-dark));
$bannerGradient-light: linear-gradient(($color-gradient-light), ($color-gradient-light));

$font-primary: "Lato";
$font-secondary: "Source Sans Pro";

