$light-gray: hsl(0, 0%, 93%);
$gray: hsl(0, 0%, 47%);
$dark-gray: hsl(0, 0%, 20%);

$navbar-dark-color: hsl(0, 0%, 100%);
$color-primary: #2A4160;

$font-primary: "Lato";
$font-secondary: "Source Sans Pro";
